* {
    padding:0;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.hero {
    min-height: 400px;
    background-color: #1f2937;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-nav {
    display: flex;
    margin: 0px 180px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 65px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-content {
    display: flex;
    margin: 0px 180px 0px 180px;
    max-height: 210px; /*not sure about this part. sized to get the image to not blow up*/
}

.left-hero {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 6px;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary-text, .header-links a{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 200;
}

.header-links a {
    font-size: 16px;
}

button {
    width: 110px;
    height: 28px;
    border-radius: 6px;
    background-color: #3882f6;
    color: #f9faf8;
    border: solid #3882f6;
    font-weight: bold;
}

.right-hero {
   display: flex;
   flex: 1;
   justify-content: flex-end;
}

img {
    max-height: 210px;
    max-width: auto;
}